main {
    display:flex;
    justify-content: center;
    align-items:center;
}

.gameForm {
    margin-top: 10%;
    text-align: center;
    background-color: lightgrey;
    width: 40%;
    
}
 #quizStart {
     height:50px;
     width:100px;
     background-color: lightblue;
 }