body {
    background-color: darkblue;
}

main {
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.gameForm {
    margin-top: 5%;
    text-align: center;
    width: 50%;
}

.timer {
    margin-left: 80%;
    background-color: lightblue;
}
 #quizStart {
     height:50px;
     width:100px;
     background-color: lightblue;
     
 }

 #answerButtons {
     margin-bottom: 3px;
     height: 10px;
     width: 300px;
     background-color: lightskyblue;
     padding:5px;
     border:2px black solid;
 }
#answerButtons:hover {
    background-color: lightyellow;
    cursor: pointer;
}

.scoreParent {
    display: flex;
    flex-wrap: wrap;
}

.scoreChild {
  flex: 1 1 300px;
  border: 1px solid lightgrey;
  background: lightskyblue;
  font-size: 2rem;
  text-align: center;
}

.buttonContainer {
    padding:5px;
}
#restartButton {
    padding-right: 5px;
}

#clearButton {
    padding-left: 5px;
    margin-left: 3px;
}